In [1]:
import pandas as pd 
import re
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_excel('people.xlsx', encoding='UTF-8')

In [30]:
X = data['en']
y = data.drop(columns=['en'])

In [3]:
data.describe()

            en     ch pinyin pinyin_no_tone
count    58320  58320  58320          58320
unique   58320  42924  42026          39946
top     Siriol     贝尔  xī ěr          ke li
freq         1     18     25             34

In [5]:
data['en'] = data['en'].apply(lambda w: w.lower())

In [6]:
data.describe()

              en     ch pinyin pinyin_no_tone
count      58320  58320  58320          58320
unique     58281  42924  42026          39946
top     macgeach     贝尔  xī ěr          ke li
freq           2     18     25             34

In [7]:
data.drop_duplicates(inplace=False).describe()

              en     ch pinyin pinyin_no_tone
count      58286  58286  58286          58286
unique     58281  42924  42026          39946
top     lefebvre     贝尔  xī ěr          ke li
freq           2     18     25             34

In [8]:
data = data.drop_duplicates(inplace=False)

In [9]:
data = data.drop(data[data['en'].duplicated(keep=False)].index.to_list())

In [10]:
data.describe()

                 en     ch pinyin pinyin_no_tone
count         58276  58276  58276          58276
unique        58276  42918  42020          39940
top     heintzelman     莫尔  xī ěr          ke li
freq              1     18     25             34

In [11]:
data.head(10)

        en    ch       pinyin pinyin_no_tone
0    aabye    奥比        ào bǐ          ao bi
1   aadahi   阿达希      ā dá xī        a da xi
2  aagaard   埃格德     āi gé dé       ai ge de
3    aaker    阿克         ā kè           a ke
4  aaliyah   阿莉娅      ā lì yà        a li ya
5     aall    奥尔        ào ěr          ao er
6  aalseth  阿尔塞思  ā ěr sài sī    a er sai si
7    aalto   阿尔托     ā ěr tuō       a er tuo
8   aamodt   阿莫特      ā mò tè        a mo te
9  aandahl   安达尔     ān dá ěr       an da er

In [12]:
data.to_excel('people.xlsx', encoding='UTF-8', index=False)

In [63]:
train, test = train_test_split(data, test_size=0.1, random_state=42)

In [64]:
train.describe()

            en     ch  pinyin pinyin_no_tone
count    52448  52448   52448          52448
unique   52448  39431   38653          36787
top     connon    福克斯  kǎi lì          ke li
freq         1     16      23             31

In [65]:
test.describe()

            en    ch pinyin pinyin_no_tone
count     5828  5828   5828           5828
unique    5828  5539   5503           5432
top     sipres    塔夫  xī lì          bo li
freq         1     4      5              5

In [66]:
train, dev = train_test_split(train, test_size=0.111111, random_state=42)

In [67]:
train.describe()

              en     ch  pinyin pinyin_no_tone
count      46620  46620   46620          46620
unique     46620  35840   35152          33514
top     thouless     莫尔  kǎi lì          ke li
freq           1     15      21             29

In [70]:
dev.describe()

            en    ch     pinyin pinyin_no_tone
count     5828  5828       5828           5828
unique    5828  5576       5552           5471
top     rowley    罗姆  kè láo sī       fu ke si
freq         1     4          4              4

In [71]:
train.to_excel('tra.xlsx', encoding='UTF-8', index=False)

In [72]:
dev.to_excel('dev.xlsx', encoding='UTF-8', index=False)

In [73]:
test.to_excel('tst.xlsx', encoding='UTF-8', index=False)