In [1]:
import pandas as pd

In [4]:
tra = pd.read_excel('./train_dev/tra.xlsx', encoding='UTF-8')

In [5]:
dev = pd.read_excel('./train_dev/dev.xlsx', encoding='UTF-8')

In [7]:
tst = pd.read_excel('./test/tst.xlsx', encoding='UTF-8')

In [10]:
tra.head(5)

         en    ch         pinyin pinyin_no_tone
0   kartman   卡特曼      kǎ tè màn      ka te man
1    persse    珀斯          pò sī          po si
2  macraith  麦克雷思  mài kè léi sī  mai ke lei si
3     hudak   赫达克       hè dá kè       he da ke
4     kraus   克劳斯      kè láo sī      ke lao si

In [14]:
with open('tt.txt', 'w+', encoding='UTF-8-sig') as t:
    t.writelines("\n".join(tra['en'].to_list()))

In [27]:
# transfer one column of data frame into text
def column_to_text(column, tag=None):
    
    # handle exception
    if not tag:
        print('There is no tag specified!')
        return
    
    with open('temp/' + tag + '.txt', 'w+', encoding='UTF-8') as f:
        f.writelines("\n".join(column.to_list()))
        
# testing
column_to_text(tra['en'], 'tt')

In [28]:
def spaces_padding(column):
    return column.apply(lambda w: ' '.join(w))

spaces_padding(tst['en']).head(3)

0          s e d g e s
1      a n d o l s e k
2    m a c t r a d e r
Name: en, dtype: object

In [29]:
def df_to_text(df, tag=None):
    
    # handle exception
    if not tag:
        print('There is no tag specified!')
        return
    
    cols = ['en', 'ch', 'pinyin', 'pinyin_no_tone']
    for col in cols:
        tmp_tag = col + '_' + tag
        column = df[col]
        if col == 'en' or col =='ch':
            column = spaces_padding(column)
        column_to_text(column, tag=tmp_tag)

In [31]:
df_to_text(tst, 'tst')

In [35]:
df_to_text(tra, 'tra')

In [34]:
df_to_text(dev, 'dev')