In [2]:
import pandas as pd

In [6]:
def preprocess(path):
    df = pd.read_csv(path, sep='\t')
    df['SRC'] = df['SRC'].apply(lambda x: ' '.join(x))
    df['TRG'] = df['TRG'].apply(lambda x: ' '.join(x))
    df.to_csv(path, sep='\t', index=False)
    return df

In [8]:
preprocess('train.tsv')
preprocess('valid.tsv')
preprocess('test.tsv')

                    SRC        TRG        PINYIN_STR              PINYIN_CHAR
0           s e d g e s      塞 奇 斯         sai qi si            s a i q i s i
1       a n d o l s e k  安 多 尔 塞 克  an duo er sai ke  a n d u o e r s a i k e
2     m a c t r a d e r  麦 克 特 雷 德  mai ke te lei de  m a i k e t e l e i d e
3       s c h e f f e y        谢 菲           xie fei              x i e f e i
4               f o l k        福 克             fu ke                  f u k e
...                 ...        ...               ...                      ...
5823    s c a d d i n g      斯 卡 丁        si ka ding          s i k a d i n g
5824      b a g e a n t      巴 金 特         ba jin te            b a j i n t e
5825      s t e n w i g    斯 滕 维 格    si teng wei ge    s i t e n g w e i g e
5826  r i g h t m i r e    赖 特 迈 尔     lai te mai er      l a i t e m a i e r
5827    m a c h e y n e    麦 克 谢 恩     mai ke xie en      m a i k e x i e e n

[5828 rows x 4 columns]

In [4]:
ppl_dict = pd.read_excel('../../data/dict_data/preprocess/people_dict.xlsx')

In [8]:
ppl_dict = ppl_dict.rename(columns={"Unnamed: 0": "en"})

In [11]:
ppl_dict.describe()

              en    ch1  ch2  ch3
count      58320  58320  459    5
unique     58320  42924  365    5
top     Loughran     莫尔  乔斯琳  弗蕾达
freq           1     18   10    1

In [14]:
multi_ans = ppl_dict.dropna(subset=['ch1', 'ch2'])

In [15]:
test = pd.read_csv('test.tsv', sep='\t')

In [18]:
multi_ans['en'] = multi_ans['en'].apply(lambda x: ' '.join(x.lower()))

/disk/ocean/lhe/conda/envs/pytorch/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
multi_ans.describe()

                 en  ch1  ch2  ch3
count           459  459  459    5
unique          459  364  365    5
top     w i l m o t  乔斯林  乔斯琳  唐妮特
freq              1   10   10    1

In [22]:
for i, dp in test.iterrows():
    if dp['SRC'] in multi_ans['en']:
        print(dp['SRC'])